version: "3.9"
services:
  valhalla:
    image: ghcr.io/gis-ops/docker-valhalla/valhalla:latest
    container_name: valhalla
    ports:
      - "8002:8002"
    volumes:
      - ./custom_files:/custom_files
    environment:
      - force_rebuild=False
      - build_elevation=True
      - build_admins=True
      - build_time_zones=True
      - build_transit=False
    restart: unless-stopped